<%- include('partials/navigations') %>
<h1>Book Details</h1>

<div>
    <p>Title: <%= book.title %></p>
    <p>Publishing Year: <%= book.publishingYear %></p>
    <p>Author: <%= book.author %></p>
</div>